body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

#para_1, #vid_aud,.lists {
    margin: auto;
}

#para_1 {
    background-color: rgb(231, 214, 167);
    border-radius: 15px;
    width: 700px;
    padding: 10px;
}

#vid_aud {
    background-color: rgb(235, 178, 232);
    border-radius: 15px;
    width: 550px;
    padding: 10px;
}

.lists {
    background-color: rgb(134, 180, 214);
    border-radius: 15px;
    width: 450px;
    padding: 10px;
}

hr {
    border-color: black;
}

a {
    color: cornflowerblue;
}

img {
    padding: 5px;
}

ul, ol {
    display: inline-block;
    text-align: left;
}

em {
    font-weight: bold;
}